# скрипт #01 v2
<hr>

# страндарные библиотеки для работы

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

# импорт сырых даных из XLS

In [2]:
# имена для аттрибутов
columnNames=['AE1', 'AE2', 'AE3',
            'TIME1', 'TIME2', 'TIME3', 'TIME4', 'TIME5',
            'KOL1', 'KOL2', 'KOL3', 'KOL4',
            'U1', 'U2',
            'NAST', 'POD',
            'RMPR1', 'RMPR2', 'RMPR3', 'RMPR4', 'RMPR5',
            'ETEMP', 'METAL', 'ELEVEL', 'NOISE', 'ERATE',
            'EKO', 'AIF3', 'UANOD']
fullNames=['АЭ: длит. <Сред.>', 'АЭ: кол-во <Сред.>', 'АЭ: напр. ср.м. <Сред.>(В)',
            'Время в недопитке <Сред.> (час)', 'Время в номинале <Сред.> (час)',
            'Время  в перепитке <Сред.> (час)', 'Время в тесте <Сред.> (час)', 
            'Время на голод. <Сред.> (час)', 'Кол-во доз АПГ в недопитке <Сумма> (шт.)',
            'Кол-во доз АПГ в номинале <Сумма> (шт.)', 'Кол-во доз АПГ в перепитке <Сумма> (шт.)',
            'Кол-во доз АПГ в тесте <Сумма> (шт.)', 'Напр. зад. <Сред.> (В)', 'Напр. эл-ра <Сред.> (В)',
            'Настыль: длина <Сред.> (см)', 'Подина: состояние <Сред.> (оц.)', 
            'РМПР: длит. ВИРА <Сред.> (сек)', 'РМПР: длит. МАЙНА <Сред.> (сек)', 
            'РМПР: коэфф. <Сред.>', 'РМПР: кол-во ВИРА <Сред.> (шт)', 'РМПР: кол-во МАЙНА <Сред.> (шт)',
            'Эл-лит: темп-ра <Сред.> (°C)', 'Металл: уровень <Сред.> (см)', 'Эл-лит: уровень <Сред.> (см)', 
            'Шум <Сред.> (В)', 'Эл-лит: CaF2 <Сред.> (%)', 'Эл-лит: КО <Сред.>', 'AlF3: добавка <Сред.> (кг)',
            'Напр. анода <Сред.> (В)' ]

In [8]:
# чтение из файлов
rawData1001=pd.read_excel('../ITC RUSAL/raw data/bath_1001_2019.xls',
                    header=None, skiprows=5, usecols='B:AD')
rawData1003=pd.read_excel('../ITC RUSAL/raw data/bath_1003_2019.xls',
                    header=None, skiprows=5, usecols='B:AD')
rawData1004=pd.read_excel('../ITC RUSAL/raw data/bath_1004_2019.xls',
                    header=None, skiprows=5, usecols='B:AD')
rawData1005=pd.read_excel('../ITC RUSAL/raw data/bath_1005_2019.xls',
                    header=None, skiprows=5, usecols='B:AD')
rawData1006=pd.read_excel('../ITC RUSAL/raw data/bath_1006_2019.xls',
                    header=None, skiprows=5, usecols='B:AD')

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (153756) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (153825) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (153047) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [9]:
# переименование столбцов
rawData1001.columns=columnNames
rawData1003.columns=columnNames 
rawData1004.columns=columnNames 
rawData1005.columns=columnNames 
rawData1006.columns=columnNames

# визуальная проверка корректности импорта сырых данных
# должно быть 365 записей (по кол-ву дней в году), 29 столбцов

In [10]:
rawData1001.head()

,AE1,AE2,AE3,TIME1,TIME2,TIME3,TIME4,TIME5,KOL1,KOL2,...,RMPR4,RMPR5,ETEMP,METAL,ELEVEL,NOISE,ERATE,EKO,AIF3,UANOD
0,1.7,1,45.0,10.7,4.8,6.5,0,1.1,371,466,...,6,9,955.0,40.0,17.0,0.035,NaN,NaN,32.0,0.422
1,NaN,0,NaN,12.2,4.7,7.1,0,NaN,392,517,...,2,5,959.0,40.0,17.0,0.036,7.68,2.48,32.0,0.400
2,NaN,0,NaN,11.3,4.7,7.5,0,NaN,368,478,...,1,0,959.0,40.0,17.0,0.034,NaN,NaN,30.0,0.391
3,NaN,0,NaN,9.8,5.8,8.3,0,NaN,311,553,...,3,2,957.0,40.0,18.0,0.034,NaN,NaN,30.0,0.370
4,0.3,1,40.0,9.0,7.4,7.7,0,NaN,298,732,...,4,8,957.0,40.0,17.0,0.035,7.87,2.39,32.5,0.421

In [11]:
rawData1001.tail()

,AE1,AE2,AE3,TIME1,TIME2,TIME3,TIME4,TIME5,KOL1,KOL2,...,RMPR4,RMPR5,ETEMP,METAL,ELEVEL,NOISE,ERATE,EKO,AIF3,UANOD
360,2.7,1,56.0,11.6,4.6,5.5,0,0.9,370,412,...,1,11,948.0,42.0,18.0,0.023,NaN,NaN,0.0,0.428
361,NaN,0,NaN,13.3,4.7,6.0,0,NaN,413,448,...,5,7,946.0,43.0,16.0,0.022,7.13,2.33,0.0,0.408
362,NaN,0,NaN,11.5,5.0,7.0,0,NaN,377,457,...,1,3,949.0,42.0,17.0,0.023,NaN,NaN,42.5,0.391
363,NaN,0,NaN,14.2,3.7,6.0,0,NaN,560,477,...,2,4,951.0,42.0,18.0,0.024,7.05,2.42,35.0,0.386
364,1.4,1,61.0,14.2,5.5,4.3,0,NaN,506,627,...,7,6,958.0,42.0,18.0,0.025,NaN,NaN,50.0,0.467

In [12]:
rawData1001.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Columns: 29 entries, AE1 to UANOD
dtypes: float64(22), int64(7)
memory usage: 82.8 KB

In [13]:
print("Ванна 1001")
print("Столбцы, в которых нет ниодного значения:")
print(rawData1001.columns[rawData1001.isnull().sum()==365])
print("Столбцы, в которых пропущено более 90% данных:")
print(rawData1001.columns[rawData1001.isnull().sum()>=(0.9*365)])
print("Столбцы, в которых пропущено более 80% данных:")
print(rawData1001.columns[rawData1001.isnull().sum()>=(0.8*365)])
print("Столбцы, в которых пропущено более 70% данных:")
print(rawData1001.columns[rawData1001.isnull().sum()>=(0.7*365)])
print("Столбцы, в которых пропущено более 60% данных:")
print(rawData1001.columns[rawData1001.isnull().sum()>=(0.6*365)])
print("Столбцы, в которых пропущено более 50% данных:")
print(rawData1001.columns[rawData1001.isnull().sum()>=(0.5*365)])

Ванна 1001
Столбцы, в которых нет ниодного значения:
Index(['KOL4'], dtype='object')
Столбцы, в которых пропущено более 90% данных:
Index(['KOL4'], dtype='object')
Столбцы, в которых пропущено более 80% данных:
Index(['KOL4', 'NAST', 'POD'], dtype='object')
Столбцы, в которых пропущено более 70% данных:
Index(['KOL4', 'NAST', 'POD'], dtype='object')
Столбцы, в которых пропущено более 60% данных:
Index(['AE1', 'AE3', 'TIME5', 'KOL4', 'NAST', 'POD'], dtype='object')
Столбцы, в которых пропущено более 50% данных:
Index(['AE1', 'AE3', 'TIME5', 'KOL4', 'NAST', 'POD', 'ERATE', 'EKO'], dtype='object')

In [14]:
rawData1003.head()

,AE1,AE2,AE3,TIME1,TIME2,TIME3,TIME4,TIME5,KOL1,KOL2,...,RMPR4,RMPR5,ETEMP,METAL,ELEVEL,NOISE,ERATE,EKO,AIF3,UANOD
0,2.1,1,50.0,10.5,5.8,6.4,0,0.7,323.0,502,...,0,6,950.0,40.0,18.0,0.031,NaN,NaN,52.0,0.425
1,NaN,0,NaN,10.3,5.4,8.3,0,NaN,308.0,502,...,1,3,954.0,40.0,16.0,0.030,7.76,2.42,52.0,0.357
2,NaN,0,NaN,9.9,5.5,8.2,0,NaN,277.0,514,...,1,0,955.0,40.0,16.0,0.030,NaN,NaN,69.0,0.351
3,NaN,0,NaN,8.7,6.3,9.0,0,NaN,252.0,532,...,1,2,952.0,41.0,16.0,0.030,NaN,NaN,55.0,0.340
4,NaN,0,NaN,9.4,6.3,7.9,0,NaN,283.0,548,...,1,2,951.0,41.0,15.0,0.029,7.49,2.37,0.0,0.375

In [15]:
rawData1003.tail()

,AE1,AE2,AE3,TIME1,TIME2,TIME3,TIME4,TIME5,KOL1,KOL2,...,RMPR4,RMPR5,ETEMP,METAL,ELEVEL,NOISE,ERATE,EKO,AIF3,UANOD
360,1.9,1,50.0,9.2,5.0,6.5,0,2.3,237.0,407,...,1,5,944.0,43.0,19.0,0.022,NaN,NaN,0.0,0.392
361,NaN,0,NaN,8.5,6.3,9.2,0,NaN,191.0,511,...,3,3,934.0,42.0,17.0,0.026,7.89,2.24,0.0,0.357
362,NaN,0,NaN,8.2,6.1,9.3,0,NaN,227.0,546,...,1,3,951.0,42.0,17.0,0.028,NaN,NaN,0.0,0.353
363,NaN,0,NaN,9.5,6.3,8.2,0,NaN,321.0,638,...,2,3,949.0,42.0,18.0,0.022,7.85,2.31,0.0,0.387
364,NaN,0,NaN,9.5,5.7,8.5,0,NaN,279.0,552,...,3,3,951.0,42.0,17.0,0.023,NaN,NaN,0.0,0.445

In [16]:
rawData1003.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Columns: 29 entries, AE1 to UANOD
dtypes: float64(23), int64(6)
memory usage: 82.8 KB

In [17]:
print("Ванна 1003")
print("Столбцы, в которых нет ниодного значения:")
print(rawData1003.columns[rawData1003.isnull().sum()==365])
print("Столбцы, в которых пропущено более 90% данных:")
print(rawData1003.columns[rawData1003.isnull().sum()>=(0.9*365)])
print("Столбцы, в которых пропущено более 80% данных:")
print(rawData1003.columns[rawData1003.isnull().sum()>=(0.8*365)])
print("Столбцы, в которых пропущено более 70% данных:")
print(rawData1003.columns[rawData1003.isnull().sum()>=(0.7*365)])
print("Столбцы, в которых пропущено более 60% данных:")
print(rawData1003.columns[rawData1003.isnull().sum()>=(0.6*365)])
print("Столбцы, в которых пропущено более 50% данных:")
print(rawData1003.columns[rawData1003.isnull().sum()>=(0.5*365)])

Ванна 1003
Столбцы, в которых нет ниодного значения:
Index(['KOL4'], dtype='object')
Столбцы, в которых пропущено более 90% данных:
Index(['KOL4'], dtype='object')
Столбцы, в которых пропущено более 80% данных:
Index(['KOL4', 'NAST', 'POD'], dtype='object')
Столбцы, в которых пропущено более 70% данных:
Index(['TIME5', 'KOL4', 'NAST', 'POD'], dtype='object')
Столбцы, в которых пропущено более 60% данных:
Index(['AE1', 'AE3', 'TIME5', 'KOL4', 'NAST', 'POD'], dtype='object')
Столбцы, в которых пропущено более 50% данных:
Index(['AE1', 'AE3', 'TIME5', 'KOL4', 'NAST', 'POD', 'ERATE', 'EKO'], dtype='object')

In [18]:
rawData1004.head()

,AE1,AE2,AE3,TIME1,TIME2,TIME3,TIME4,TIME5,KOL1,KOL2,...,RMPR4,RMPR5,ETEMP,METAL,ELEVEL,NOISE,ERATE,EKO,AIF3,UANOD
0,1.8,1,39.0,11.5,4.6,6.1,0,1.3,446,494,...,1,7,952.0,37.0,17.0,0.022,NaN,NaN,52.0,0.317
1,NaN,0,NaN,9.5,5.0,9.0,0,NaN,292,443,...,2,7,957.0,38.0,17.0,0.022,7.56,2.40,32.0,0.280
2,NaN,0,NaN,8.5,5.7,9.3,0,NaN,230,526,...,0,1,957.0,38.0,16.0,0.023,NaN,NaN,39.0,0.272
3,NaN,0,NaN,8.9,5.0,9.6,0,NaN,240,428,...,1,2,953.0,37.0,18.0,0.024,NaN,NaN,42.5,0.262
4,NaN,0,NaN,7.8,6.5,9.6,0,NaN,251,605,...,2,4,958.0,38.0,18.0,0.023,7.40,2.37,15.0,0.286

In [19]:
rawData1004.tail()

,AE1,AE2,AE3,TIME1,TIME2,TIME3,TIME4,TIME5,KOL1,KOL2,...,RMPR4,RMPR5,ETEMP,METAL,ELEVEL,NOISE,ERATE,EKO,AIF3,UANOD
360,NaN,0,NaN,11.2,4.2,5.9,0,2.0,268,312,...,1,10,960.0,40.0,16.0,0.020,NaN,NaN,0.0,0.363
361,NaN,0,NaN,5.3,7.4,11.1,0,NaN,146,636,...,3,6,964.0,39.0,16.0,0.019,7.44,2.32,0.0,0.334
362,2.3,1,56.0,8.1,6.2,9.4,0,NaN,330,626,...,2,10,959.0,39.0,18.0,0.019,NaN,NaN,27.5,0.317
363,NaN,0,NaN,9.1,5.9,8.7,0,NaN,339,640,...,1,4,958.0,39.0,17.0,0.020,7.24,2.28,40.0,0.314
364,1.4,3,39.0,11.0,6.3,6.7,0,NaN,397,682,...,5,14,959.0,39.0,17.0,0.020,NaN,NaN,0.0,0.369

In [20]:
rawData1004.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Columns: 29 entries, AE1 to UANOD
dtypes: float64(21), int64(8)
memory usage: 82.8 KB

In [21]:
print("Ванна 1004")
print("Столбцы, в которых нет ниодного значения:")
print(rawData1004.columns[rawData1004.isnull().sum()==365])
print("Столбцы, в которых пропущено более 90% данных:")
print(rawData1004.columns[rawData1004.isnull().sum()>=(0.9*365)])
print("Столбцы, в которых пропущено более 80% данных:")
print(rawData1004.columns[rawData1004.isnull().sum()>=(0.8*365)])
print("Столбцы, в которых пропущено более 70% данных:")
print(rawData1004.columns[rawData1004.isnull().sum()>=(0.7*365)])
print("Столбцы, в которых пропущено более 60% данных:")
print(rawData1004.columns[rawData1004.isnull().sum()>=(0.6*365)])
print("Столбцы, в которых пропущено более 50% данных:")
print(rawData1004.columns[rawData1004.isnull().sum()>=(0.5*365)])

Ванна 1004
Столбцы, в которых нет ниодного значения:
Index(['KOL4'], dtype='object')
Столбцы, в которых пропущено более 90% данных:
Index(['KOL4'], dtype='object')
Столбцы, в которых пропущено более 80% данных:
Index(['KOL4', 'NAST', 'POD'], dtype='object')
Столбцы, в которых пропущено более 70% данных:
Index(['TIME5', 'KOL4', 'NAST', 'POD'], dtype='object')
Столбцы, в которых пропущено более 60% данных:
Index(['TIME5', 'KOL4', 'NAST', 'POD'], dtype='object')
Столбцы, в которых пропущено более 50% данных:
Index(['AE1', 'AE3', 'TIME5', 'KOL4', 'NAST', 'POD', 'ERATE', 'EKO'], dtype='object')

In [22]:
rawData1005.head()

,AE1,AE2,AE3,TIME1,TIME2,TIME3,TIME4,TIME5,KOL1,KOL2,...,RMPR4,RMPR5,ETEMP,METAL,ELEVEL,NOISE,ERATE,EKO,AIF3,UANOD
0,2.2,1,53.0,9.3,6.0,7.0,0,0.5,251,568,...,3,7,948.0,41.0,18.0,0.025,NaN,NaN,0.0,0.438
1,NaN,0,NaN,9.4,5.7,8.9,0,NaN,302,512,...,3,3,953.0,41.0,17.0,0.024,7.75,2.38,44.0,0.417
2,NaN,0,NaN,7.9,6.5,9.2,0,NaN,230,584,...,2,3,956.0,41.0,15.0,0.023,NaN,NaN,42.0,0.402
3,NaN,0,NaN,7.1,6.7,10.2,0,NaN,205,627,...,1,2,952.0,41.0,17.0,0.021,NaN,NaN,35.0,0.374
4,0.8,1,37.0,6.8,7.1,9.8,0,NaN,246,697,...,5,6,951.0,42.0,16.0,0.022,7.67,2.32,32.5,0.425

In [23]:
rawData1005.tail()

,AE1,AE2,AE3,TIME1,TIME2,TIME3,TIME4,TIME5,KOL1,KOL2,...,RMPR4,RMPR5,ETEMP,METAL,ELEVEL,NOISE,ERATE,EKO,AIF3,UANOD
360,1.7,1,49.0,8.4,6.4,8.4,0,0.3,211,517,...,1,7,953.0,44.0,15.0,0.015,NaN,NaN,50.0,0.419
361,NaN,0,NaN,8.3,6.2,9.5,0,NaN,220,576,...,1,2,949.0,43.0,20.0,0.015,7.00,2.29,0.0,0.398
362,2.1,1,51.0,7.2,6.9,9.5,0,NaN,240,681,...,3,6,948.0,43.0,18.0,0.014,NaN,NaN,0.0,0.381
363,NaN,0,NaN,9.3,6.1,8.7,0,NaN,373,732,...,3,2,940.0,44.0,17.0,0.015,7.01,2.25,0.0,0.374
364,NaN,0,NaN,9.4,6.3,8.2,0,NaN,349,678,...,5,5,936.0,43.0,16.0,0.017,NaN,NaN,0.0,0.455

In [24]:
rawData1005.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Columns: 29 entries, AE1 to UANOD
dtypes: float64(22), int64(7)
memory usage: 82.8 KB

In [25]:
print("Ванна 1005")
print("Столбцы, в которых нет ниодного значения:")
print(rawData1005.columns[rawData1005.isnull().sum()==365])
print("Столбцы, в которых пропущено более 90% данных:")
print(rawData1005.columns[rawData1005.isnull().sum()>=(0.9*365)])
print("Столбцы, в которых пропущено более 80% данных:")
print(rawData1005.columns[rawData1005.isnull().sum()>=(0.8*365)])
print("Столбцы, в которых пропущено более 70% данных:")
print(rawData1005.columns[rawData1005.isnull().sum()>=(0.7*365)])
print("Столбцы, в которых пропущено более 60% данных:")
print(rawData1005.columns[rawData1005.isnull().sum()>=(0.6*365)])
print("Столбцы, в которых пропущено более 50% данных:")
print(rawData1005.columns[rawData1005.isnull().sum()>=(0.5*365)])

Ванна 1005
Столбцы, в которых нет ниодного значения:
Index(['KOL4'], dtype='object')
Столбцы, в которых пропущено более 90% данных:
Index(['KOL4'], dtype='object')
Столбцы, в которых пропущено более 80% данных:
Index(['KOL4', 'NAST', 'POD'], dtype='object')
Столбцы, в которых пропущено более 70% данных:
Index(['TIME5', 'KOL4', 'NAST', 'POD'], dtype='object')
Столбцы, в которых пропущено более 60% данных:
Index(['TIME5', 'KOL4', 'NAST', 'POD'], dtype='object')
Столбцы, в которых пропущено более 50% данных:
Index(['AE1', 'AE3', 'TIME5', 'KOL4', 'NAST', 'POD', 'ERATE', 'EKO'], dtype='object')

In [26]:
rawData1006.head()

,AE1,AE2,AE3,TIME1,TIME2,TIME3,TIME4,TIME5,KOL1,KOL2,...,RMPR4,RMPR5,ETEMP,METAL,ELEVEL,NOISE,ERATE,EKO,AIF3,UANOD
0,2.2,1,57.0,9.8,5.0,7.2,0,0.6,273.0,373,...,1,8,959.0,40.0,16.0,0.037,NaN,NaN,20.0,0.394
1,NaN,0,NaN,7.7,6.8,9.5,0,NaN,225.0,620,...,2,3,963.0,40.0,17.0,0.036,7.16,2.37,12.0,0.355
2,NaN,0,NaN,8.7,5.8,8.9,0,NaN,250.0,550,...,2,0,960.0,41.0,16.0,0.034,NaN,NaN,30.0,0.343
3,NaN,0,NaN,7.7,6.7,9.5,0,NaN,216.0,607,...,3,0,958.0,41.0,17.0,0.034,NaN,NaN,22.5,0.327
4,2.0,2,50.0,6.0,8.5,9.5,0,NaN,192.0,808,...,5,4,957.0,40.0,16.0,0.034,7.25,2.26,20.0,0.391

In [27]:
rawData1006.tail()

,AE1,AE2,AE3,TIME1,TIME2,TIME3,TIME4,TIME5,KOL1,KOL2,...,RMPR4,RMPR5,ETEMP,METAL,ELEVEL,NOISE,ERATE,EKO,AIF3,UANOD
360,2.2,1,51.0,7.5,6.3,8.5,0,0.5,181.0,478,...,0,10,953.0,43.0,15.0,0.017,NaN,NaN,17.5,0.506
361,NaN,0,NaN,7.4,6.7,9.9,0,NaN,206.0,566,...,3,7,944.0,44.0,16.0,0.016,6.96,2.27,0.0,0.477
362,NaN,0,NaN,7.5,6.6,9.6,0,NaN,218.0,684,...,1,3,951.0,43.0,16.0,0.015,NaN,NaN,0.0,0.502
363,NaN,0,NaN,9.0,6.3,8.7,0,NaN,330.0,654,...,1,3,948.0,43.0,16.0,0.015,7.06,2.28,0.0,0.511
364,1.8,1,55.0,8.2,7.6,8.2,0,NaN,281.0,791,...,5,5,944.0,42.0,16.0,0.016,NaN,NaN,0.0,0.542

In [28]:
rawData1006.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Columns: 29 entries, AE1 to UANOD
dtypes: float64(24), int64(5)
memory usage: 82.8 KB

In [29]:
print("Ванна 1006")
print("Столбцы, в которых нет ниодного значения:")
print(rawData1006.columns[rawData1006.isnull().sum()==365])
print("Столбцы, в которых пропущено более 90% данных:")
print(rawData1006.columns[rawData1006.isnull().sum()>=(0.9*365)])
print("Столбцы, в которых пропущено более 80% данных:")
print(rawData1006.columns[rawData1006.isnull().sum()>=(0.8*365)])
print("Столбцы, в которых пропущено более 70% данных:")
print(rawData1006.columns[rawData1006.isnull().sum()>=(0.7*365)])
print("Столбцы, в которых пропущено более 60% данных:")
print(rawData1006.columns[rawData1006.isnull().sum()>=(0.6*365)])
print("Столбцы, в которых пропущено более 50% данных:")
print(rawData1006.columns[rawData1006.isnull().sum()>=(0.5*365)])

Ванна 1006
Столбцы, в которых нет ниодного значения:
Index(['KOL4'], dtype='object')
Столбцы, в которых пропущено более 90% данных:
Index(['KOL4'], dtype='object')
Столбцы, в которых пропущено более 80% данных:
Index(['KOL4', 'NAST', 'POD'], dtype='object')
Столбцы, в которых пропущено более 70% данных:
Index(['TIME5', 'KOL4', 'NAST', 'POD'], dtype='object')
Столбцы, в которых пропущено более 60% данных:
Index(['TIME5', 'KOL4', 'NAST', 'POD'], dtype='object')
Столбцы, в которых пропущено более 50% данных:
Index(['AE1', 'AE3', 'TIME5', 'KOL4', 'NAST', 'POD', 'ERATE', 'EKO'], dtype='object')

# сохраним все в отдельные csv
## <i> имена:"rawDataBathName.csv" </i>

In [34]:
import os
os.path.abspath(os.getcwd())

'c:\\Users\\Evgenii\\OneDrive\\Python scripts\\Проекты НИР\\ITC RUSAL'

In [39]:
rawData1001.to_csv('baths_v2/rawDataBath1001.csv', index=False)
rawData1003.to_csv('baths_v2/rawDataBath1003.csv', index=False)
rawData1004.to_csv('baths_v2/rawDataBath1004.csv', index=False)
rawData1005.to_csv('baths_v2/rawDataBath1005.csv', index=False)
rawData1006.to_csv('baths_v2/rawDataBath1006.csv', index=False)

<hr>

# Импорт сырых данных из файлов "выливка"

In [40]:
columnNames_2=['NETOUT1', 'NETOUT2', 'NETOUT3',
                'CURRENT1', 'CURRENT2']
fullNames_2=['Выход на в.сутки: Кр/весы <Сред.> (кг)', 'Выход на в.сутки: Л/О <Сред.> (кг)',
            'Выход на в.сутки: по заданию <Сред.> (кг)', 'Выход по току: Л/О <Сред.> (%)',
            'Ток серии (АСУТП) <Сред.> (кА)']

In [51]:
rawData1001_2=pd.read_excel('../ITC RUSAL/raw data/netout_1001_2019.xls',
                    header=None, skiprows=5, usecols='B:F')
rawData1003_2=pd.read_excel('../ITC RUSAL/raw data/netout_1003_2019.xls',
                    header=None, skiprows=5, usecols='B:F')
rawData1004_2=pd.read_excel('../ITC RUSAL/raw data/netout_1004_2019.xls',
                    header=None, skiprows=5, usecols='B:F')
rawData1005_2=pd.read_excel('../ITC RUSAL/raw data/netout_1005_2019.xls',
                    header=None, skiprows=5, usecols='B:F')
rawData1006_2=pd.read_excel('../ITC RUSAL/raw data/netout_1006_2019.xls',
                    header=None, skiprows=5, usecols='B:F')

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (29127) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (29134) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (29127) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [52]:
# в 1003-1106 только 3 столбца, 4 и 5 совпадают с 1001, скопируем из 1001

rawData1003_2[[4, 5]]=rawData1001_2[[4, 5]].copy()
rawData1003_2.columns=columnNames_2

rawData1004_2[[4, 5]]=rawData1001_2[[4, 5]].copy()
rawData1004_2.columns=columnNames_2

rawData1005_2[[4, 5]]=rawData1001_2[[4, 5]].copy()
rawData1005_2.columns=columnNames_2

rawData1006_2[[4, 5]]=rawData1001_2[[4, 5]].copy()
rawData1006_2.columns=columnNames_2

rawData1001_2.columns=columnNames_2

# визуальная проверка корректности импорта сырых данных
# должно быть 365 записей (по кол-ву дней в году), 5 столбцов в 1001, по 3 в остальных

In [53]:
rawData1001_2.head()

   NETOUT1  NETOUT2  NETOUT3  CURRENT1  CURRENT2
0     1400     1220     1400      78.1     193.7
1     1400      970     1400      62.1     193.6
2     1400     1380     1400      88.3     193.6
3     1410     1410     1400      90.3     194.0
4     1400     1320     1400      84.5     193.5

In [54]:
rawData1001_2.tail()

     NETOUT1  NETOUT2  NETOUT3  CURRENT1  CURRENT2
360     1400     1480     1400      94.8     193.5
361     1470     1530     1400      98.0     193.6
362     1480     1570     1400     100.6     193.4
363     1390     1410     1400      90.5     193.4
364     1000      980     1400      62.8     193.4

In [55]:
rawData1001_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
NETOUT1     365 non-null int64
NETOUT2     365 non-null int64
NETOUT3     365 non-null int64
CURRENT1    365 non-null float64
CURRENT2    365 non-null float64
dtypes: float64(2), int64(3)
memory usage: 14.4 KB

In [56]:
rawData1003_2.head()

   NETOUT1  NETOUT2  NETOUT3  CURRENT1  CURRENT2
0     1400     1370     1400      78.1     193.7
1     1400     1370     1400      62.1     193.6
2     1430     1420     1400      88.3     193.6
3     1380     1380     1400      90.3     194.0
4     1390     1410     1400      84.5     193.5

In [57]:
rawData1003_2.tail()

     NETOUT1  NETOUT2  NETOUT3  CURRENT1  CURRENT2
360     1440     1510     1400      94.8     193.5
361     1420     1350     1400      98.0     193.6
362     1480     1510     1400     100.6     193.4
363     1600     1610     1400      90.5     193.4
364     1680      560     1400      62.8     193.4

In [58]:
rawData1003_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
NETOUT1     365 non-null int64
NETOUT2     365 non-null int64
NETOUT3     365 non-null int64
CURRENT1    365 non-null float64
CURRENT2    365 non-null float64
dtypes: float64(2), int64(3)
memory usage: 14.4 KB

In [59]:
rawData1004_2.head()

   NETOUT1  NETOUT2  NETOUT3  CURRENT1  CURRENT2
0     1410     1370     1400      78.1     193.7
1     1390     1360     1400      62.1     193.6
2     1450     1450     1400      88.3     193.6
3     1390     1410     1400      90.3     194.0
4     1410     1620     1400      84.5     193.5

In [60]:
rawData1004_2.tail()

     NETOUT1  NETOUT2  NETOUT3  CURRENT1  CURRENT2
360     1400     1260     1400      94.8     193.5
361     1400     1350     1400      98.0     193.6
362     1420     1520     1400     100.6     193.4
363     1370     1390     1400      90.5     193.4
364     1350     1380     1400      62.8     193.4

In [61]:
rawData1004_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
NETOUT1     365 non-null int64
NETOUT2     365 non-null int64
NETOUT3     365 non-null int64
CURRENT1    365 non-null float64
CURRENT2    365 non-null float64
dtypes: float64(2), int64(3)
memory usage: 14.4 KB

In [62]:
rawData1005_2.head()

   NETOUT1  NETOUT2  NETOUT3  CURRENT1  CURRENT2
0     1680     1470     1400      78.1     193.7
1     1410     1380     1400      62.1     193.6
2     1380     1370     1400      88.3     193.6
3     1390     1410     1400      90.3     194.0
4     1400        0     1400      84.5     193.5

In [63]:
rawData1005_2.tail()

     NETOUT1  NETOUT2  NETOUT3  CURRENT1  CURRENT2
360        0     1410     1400      94.8     193.5
361     1460     1490     1400      98.0     193.6
362     1680     1670     1400     100.6     193.4
363     1630     1670     1400      90.5     193.4
364     1410      470     1400      62.8     193.4

In [64]:
rawData1005_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
NETOUT1     365 non-null int64
NETOUT2     365 non-null int64
NETOUT3     365 non-null int64
CURRENT1    365 non-null float64
CURRENT2    365 non-null float64
dtypes: float64(2), int64(3)
memory usage: 14.4 KB

In [65]:
rawData1006_2.head()

   NETOUT1  NETOUT2  NETOUT3  CURRENT1  CURRENT2
0     1680     1680     1400      78.1     193.7
1     1400     1000     1400      62.1     193.6
2     1400     1740     1400      88.3     193.6
3     1430     1310     1400      90.3     194.0
4     1640     1650     1400      84.5     193.5

In [66]:
rawData1006_2.tail()

     NETOUT1  NETOUT2  NETOUT3  CURRENT1  CURRENT2
360     1750     1680     1680      94.8     193.5
361     1680     1600     1680      98.0     193.6
362     1370     1470     1400     100.6     193.4
363     1640     1660     1400      90.5     193.4
364     9920     3340     1400      62.8     193.4

In [67]:
rawData1006_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
NETOUT1     365 non-null int64
NETOUT2     365 non-null int64
NETOUT3     365 non-null int64
CURRENT1    365 non-null float64
CURRENT2    365 non-null float64
dtypes: float64(2), int64(3)
memory usage: 14.4 KB

# сохраним все в отдельные csv
## <i> имена:"rawDataNetoutName.csv" </i>

## <i> Замечание: </i>
Поскольку 4 набора данных выливки не содержат 2 последних столбца данных по току, данные по току не удастся использовать при построении обобщенной модели (только частной для 1001). В обобщенной выборке исключим эти 2 столбца.

In [68]:
rawData1001_2.to_csv('../ITC RUSAL/baths_v2/rawDataNetout1001.csv', index=False)
rawData1003_2.to_csv('../ITC RUSAL/baths_v2/rawDataNetout1003.csv', index=False)
rawData1004_2.to_csv('../ITC RUSAL/baths_v2/rawDataNetout1004.csv', index=False)
rawData1005_2.to_csv('../ITC RUSAL/baths_v2/rawDataNetout1005.csv', index=False)
rawData1006_2.to_csv('../ITC RUSAL/baths_v2/rawDataNetout1006.csv', index=False)

<hr>

# Сформируем наборы из обоих массивов по каждой ванне

In [69]:
rawFullData1001=pd.concat([rawData1001, rawData1001_2], axis=1, sort=False)
rawFullData1003=pd.concat([rawData1003, rawData1003_2], axis=1, sort=False)
rawFullData1004=pd.concat([rawData1004, rawData1004_2], axis=1, sort=False)
rawFullData1005=pd.concat([rawData1005, rawData1005_2], axis=1, sort=False)
rawFullData1006=pd.concat([rawData1006, rawData1006_2], axis=1, sort=False)

# сохраним все в отдельные csv
## <i> имена:"rawDataFullName.csv" </i>

In [71]:
rawFullData1001.to_csv('../ITC RUSAL/baths_v2/rawDataFull1001.csv', index=False)
rawFullData1003.to_csv('../ITC RUSAL/baths_v2/rawDataFull1003.csv', index=False)
rawFullData1004.to_csv('../ITC RUSAL/baths_v2/rawDataFull1004.csv', index=False)
rawFullData1005.to_csv('../ITC RUSAL/baths_v2/rawDataFull1005.csv', index=False)
rawFullData1006.to_csv('../ITC RUSAL/baths_v2/rawDataFull1006.csv', index=False)